IPR/WebsiteApplication/IPRInteroperability/DocumentsFactory/BalanceSheet/BalanceSheetContent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cas.eu/schemas/SmartFactory/xml/DocumentsFactory/BalanceSheetContent.xsd" elementFormDefault="qualified" targetNamespace="http://cas.eu/schemas/SmartFactory/xml/DocumentsFactory/BalanceSheetContent.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BalanceSheetContent" type="tns:BalanceSheetContent" />
  <xs:complexType name="BalanceSheetContent" >
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DocumentDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="DocumentNo" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="SituationAtDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="StartDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="EndDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="BalanceBatch" type="tns:ArrayOfBalanceBatchContent" />
      <xs:element minOccurs="0" maxOccurs="1" name="JSOX" type="tns:JSOContent" />
      <xs:element minOccurs="0" maxOccurs="1" name="BalanceCutfiller" type="tns:ArrayOfBalanceCutfillerContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBalanceBatchContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BalanceBatchContent" nillable="false" type="tns:BalanceBatchContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBalanceCutfillerContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BalanceCutfillerContent" nillable="false" type="tns:BalanceCutfillerContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BalanceBatchContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BalanceIPR" type="tns:ArrayOfBalanceIPRContent" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalIPRBook" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalTobaccoStarted" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalSHWasteOveruseCSNotStarted" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalDustCSNotStarted" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalTobaccoAvailable" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalTobaccoInWarehouse" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalTobaccoInCigarettesWarehouse" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalTobaccoInCigarettesProduction" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalTobaccoInCutfillerWarehouse" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalBalance" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBalanceIPRContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BalanceIPRContent" nillable="false" type="tns:BalanceIPRContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BalanceIPRContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EntryDocumentNo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SKU" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Batch" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" nillable="false" name="IPRBook" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" nillable="false" name="TobaccoStarted" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" nillable="false" name="SHWasteOveruseCSNotStarted" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" nillable="false" name="DustCSNotStarted" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" nillable="false" name="TobaccoAvailable" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BalanceCutfillerContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CtfBatch" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CtfSKU" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CtfBatchQuantity" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="CtfOnStock" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="TobaccoBatch" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TobaccoSKU" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TobaccoBatchQuantity" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TobaccoKg" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JSOContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="JSOXCustomsSummaryList" type="tns:JSOXCustomsSummaryContentList" />
      <xs:element minOccurs="1" maxOccurs="1" name="PreviousMonthDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="PreviousMonthQuantity" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IntroducingDateStart" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="IntroducingDateEnd" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="IntroducingQuantity" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="OutboundDateStart" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="OutboundDateEnd" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="OutboundQuantity" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="BalanceDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="BalanceQuantity" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="SituationDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="SituationQuantity" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ReassumeQuantity" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JSOXCustomsSummaryContentList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="JSOXCustomsSummaryOGLGroupArray" type="tns:ArrayOfJSOXCustomsSummaryContentOGLGroup" />
      <xs:element minOccurs="1" maxOccurs="1" name="SubtotalQuantity" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfJSOXCustomsSummaryContentOGLGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JSOXCustomsSummaryOGLGroup" nillable="false" type="tns:JSOXCustomsSummaryContentOGLGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JSOXCustomsSummaryContentOGLGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="JSOXCustomsSummaryArray" type="tns:ArrayOfJSOXCustomsSummaryContent" />
      <xs:element minOccurs="1" maxOccurs="1" name="SubtotalQuantity" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfJSOXCustomsSummaryContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JSOXCustomsSummary" nillable="false" type="tns:JSOXCustomsSummaryContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JSOXCustomsSummaryContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ExportOrFreeCirculationSAD" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntryDocumentNo" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="SADDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="InvoiceNo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CompensationGood" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Procedure" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="SadConsignmentNo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
