IPRExternalData/DocumentsFactory/CigaretteExportForm/CigaretteExportFormCollection.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cas.eu/schemas/SmartFactory/xml/DocumentsFactory/CigaretteExportForm.xsd" elementFormDefault="qualified" targetNamespace="http://cas.eu/schemas/SmartFactory/xml/DocumentsFactory/CigaretteExportForm.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CigaretteExportFormCollection" nillable="true">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DocumentNo" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CigaretteExportForms" type="tns:ArrayOfCigaretteExportForm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfCigaretteExportForm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CigaretteExportForm" nillable="false" type="tns:CigaretteExportForm" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CigaretteExportForm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DocumentNo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProductFormat" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DustKg" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="SHMentholKg" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="WasteKg" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="Portion" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="Product" type="tns:ProductType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ingredients" type="tns:ArrayOfIngredients" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ProductType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Cutfiller" />
      <xs:enumeration value="Cigarette" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfIngredients">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="1" name="IPRIngredient" type="tns:IPRIngredient" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegularIngredient" type="tns:RegularIngredient" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="IPRIngredient">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Ingredient">
    <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="DocumentNoumber" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="TobaccoUnitPrice" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="TobaccoValue" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="ItemClearingType" type="tns:ClearingType" />
          <xs:element minOccurs="0" maxOccurs="1" name="Currency" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Duty" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="VAT" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Ingredient" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TobaccoSKU" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TobaccoBatch" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TobaccoQuantity" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegularIngredient">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Ingredient" />
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ClearingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PartialWindingUp" />
      <xs:enumeration value="TotalWindingUp" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>