VS/trunk/PR42-SmartFactory/XML/Customs/ECS/IE616_v1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.mf.gov.pl/xsd/ECS/IE616_v1-0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns="http://www.mf.gov.pl/xsd/ECS/IE616_v1-0.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation source="doc">Odrzucenie deklaracji.</xs:documentation>
		<xs:documentation source="doc">Komunikat zawiera informacje o odrzuceniu wywozowej deklaracji skróconej. Jest przekazywany zwrotnie podmiotowi składającemu deklarację.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
	<xs:element name="IE616">
		<xs:annotation>
			<xs:documentation source="doc">IE616.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OdrzucenieDeklaracji">
					<xs:annotation>
						<xs:documentation source="doc">Odrzucenie deklaracji.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Skladajacy">
								<xs:annotation>
									<xs:documentation source="doc">Składający.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="TIN" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Numer identyfikacyjny podmiotu (Trader Identification Number). </xs:documentation>
											<xs:documentation source="rule">-</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="17"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Nazwa" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Nazwa firmy lub nazwisko i imię.</xs:documentation>
											<xs:documentation source="rule">-</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="UlicaNumer" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Ulica, numer domu.</xs:documentation>
											<xs:documentation source="rule">-</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="KodPocztowy" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Kod pocztowy.</xs:documentation>
											<xs:documentation source="rule">-</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="9"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Miejscowosc" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Miejscowość.</xs:documentation>
											<xs:documentation source="rule">-</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Kraj" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Kod kraju.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Blad" minOccurs="0" maxOccurs="999">
								<xs:annotation>
									<xs:documentation source="doc">Błąd.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Wskaznik" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Wskazanie na miejsce błędu w odrzucanej deklaracji. Wyrażenie XPath.</xs:documentation>
											<xs:documentation source="rule">-</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Przyczyna" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Numer reguły, której błąd dotyczy.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="6"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="BlednaWartosc" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Błędna wartość.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="140"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Opis" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Tekst opisujący błąd.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="255"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="NrWlasny" use="required">
							<xs:annotation>
								<xs:documentation source="doc">Numer własny deklaracji.</xs:documentation>
								<xs:documentation source="rule">-</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="22"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="UCZlozenia" use="optional">
							<xs:annotation>
								<xs:documentation source="doc">Kod Urzędu Celnego Złożenia (urzędu złożenia deklaracji).</xs:documentation>
								<xs:documentation source="list">001</xs:documentation>
								<xs:documentation source="rule">-</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="8"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="UCWyprowadzenia" use="required">
							<xs:annotation>
								<xs:documentation source="doc">Kod deklarowanego Urzędu Celnego wyprowadzenia.</xs:documentation>
								<xs:documentation source="list">001</xs:documentation>
								<xs:documentation source="rule">-</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="8"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="DataOdrzucenia" type="xs:dateTime" use="required">
							<xs:annotation>
								<xs:documentation source="doc">Data i czas odrzucenia deklaracji.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="PowodOdrzucenia" use="optional">
							<xs:annotation>
								<xs:documentation source="doc">Powód odrzucenia.</xs:documentation>
								<xs:documentation source="rule">G6</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="1024"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element ref="ds:Signature" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="NrWlasny" use="required">
				<xs:annotation>
					<xs:documentation source="doc">Numer własny tego komunikatu.</xs:documentation>
					<xs:documentation source="rule">G21</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="22"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="EmailPodmiotu" use="optional">
				<xs:annotation>
					<xs:documentation source="doc">Adres email, na który jest przesyłany ten komunikat (tylko jeśli był podany w deklaracji).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PlacowkaPodmiotu" use="optional">
				<xs:annotation>
					<xs:documentation source="doc">Identyfikator placówki podmiotu. Atrybut używany jest do identyfikacji placówki podmiotu przy wysyłaniu i odbieraniu komunikatów poprzez interfejs niewizualny.</xs:documentation>
					<xs:documentation source="rule">G26</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
						<xs:pattern value="[A-Z0-9]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
