SmartFactoryDeployment/ApplicationState.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cas.eu/schemas/SharePoint/Deployment/2/ApplicationState.xsd" elementFormDefault="qualified" targetNamespace="http://cas.eu/schemas/SharePoint/Deployment/2/ApplicationState.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InstallationStateData" nillable="true" type="tns:InstallationStateData" />
  <xs:complexType name="InstallationStateData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="OwnerLogin" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OwnerEmail" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SiteCollectionURL" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="SiteCollectionCreated" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="XmlWebApplicationURL" type="xs:anyURI" />
      <xs:element minOccurs="0" maxOccurs="1" name="Solutions" type="tns:ArrayOfSolution" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfSolution">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Solution" type="tns:Solution" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Solution">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" default="false" name="Activated" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" default="false" name="Deployed" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="FileName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Fetures" type="tns:ArrayOfFeature" />
      <xs:element minOccurs="1" maxOccurs="1" name="FeatureDefinitionScope" type="tns:FeatureDefinitionScope" />
      <xs:element minOccurs="1" maxOccurs="1" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SolutionID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfFeature">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Feature" type="tns:Feature" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Feature">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DisplayName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DefinitionId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Version" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Scope" type="tns:FeatureScope" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="FeatureDefinitionScope">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Farm" />
      <xs:enumeration value="Site" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FeatureScope">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ScopeInvalid" />
      <xs:enumeration value="Farm" />
      <xs:enumeration value="WebApplication" />
      <xs:enumeration value="Site" />
      <xs:enumeration value="Web" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>