IPR/Iteroperability/DocumentsFactory/Disposals/DocumentContent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://CAS.SmartFactory.xml.DocumentsFactory.Disposals/DocumentContent.xsd" elementFormDefault="qualified" targetNamespace="http://CAS.SmartFactory.xml.DocumentsFactory.Disposals/DocumentContent.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DocumentContent" type="tns:DocumentContent" />
  <xs:complexType name="DocumentContent">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DocumentDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="DocumentNo" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="StartDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="EndDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="CustomProcedureCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalQuantity" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalValue" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="AccountDescription" type="tns:ArrayOfMaterialsOnOneAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfMaterialsOnOneAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaterialsOnOneAccount" nillable="false" type="tns:MaterialsOnOneAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MaterialsOnOneAccount">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TotalQuantity" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalValue" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaterialRecords" type="tns:ArrayOfMaterialRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfMaterialRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaterialRecord" nillable="false" type="tns:MaterialRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MaterialRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CustomDocumentNo" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Date" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaterialSKU" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaterialBatch" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FinishedGoodBatch" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Qantity" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="UnitPrice" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="TobaccoValue" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="Currency" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>