IPRExternalData/DocumentsFactory/BalanceSheet/BalanceSheetContent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cas.eu/schemas/SmartFactory/xml/DocumentsFactory/BalanceSheetContent.xsd" elementFormDefault="qualified" targetNamespace="http://cas.eu/schemas/SmartFactory/xml/DocumentsFactory/BalanceSheetContent.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BalanceSheetContent" type="tns:BalanceSheetContent" />
  <xs:complexType name="BalanceSheetContent" >
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DocumentDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="DocumentNo" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="SituationAtDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="StartDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="EndDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="BalanceBatch" type="tns:ArrayOfBalanceBatchContent" />
      <xs:element minOccurs="0" maxOccurs="1" name="JSOX" type="tns:JSOContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBalanceBatchContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BalanceBatchContent" type="tns:BalanceBatchContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BalanceBatchContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BalanceIPRContent" type="tns:ArrayOfBalanceIPRContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBalanceIPRContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BalanceIPRContent" nillable="true" type="tns:BalanceIPRContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BalanceIPRContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EntryDocumentNo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SKU" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Batch" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IPRBook" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="SHWasteOveruseCSNotStarted" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="DustCSNotStarted" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="TobaccoAvailable" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="TobaccoInWarehouse" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="TobaccoInCigarettesWarehouse" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="TobaccoInCigarettesProduction" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="TobaccoInCutfillerWarehouse" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="Balance" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JSOContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="JSOXCustomsSummaryContentList" type="tns:JSOXCustomsSummaryContentList" />
      <xs:element minOccurs="1" maxOccurs="1" name="PreviousMonthDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="PreviousMonthQuantity" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="IntroducingDateStart" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="IntroducingDateEnd" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="IntroducingQuantity" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="OutboundDateStart" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="OutboundDateEnd" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="OutboundQuantity" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="BalanceDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="BalanceQuantity" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="SituationDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="SituationQuantity" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="ReassumeQuantity" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JSOXCustomsSummaryContentList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="JSOXCustomsSummaryContentOGLGroup" type="tns:ArrayOfJSOXCustomsSummaryContentOGLGroup" />
      <xs:element minOccurs="1" maxOccurs="1" name="SubtotalQuantity" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfJSOXCustomsSummaryContentOGLGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JSOXCustomsSummaryContentOGLGroup" nillable="true" type="tns:JSOXCustomsSummaryContentOGLGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JSOXCustomsSummaryContentOGLGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="JSOXCustomsSummaryContent" type="tns:ArrayOfJSOXCustomsSummaryContent" />
      <xs:element minOccurs="1" maxOccurs="1" name="SubtotalQuantity" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfJSOXCustomsSummaryContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JSOXCustomsSummaryContent" nillable="true" type="tns:JSOXCustomsSummaryContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JSOXCustomsSummaryContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ExportOrFreeCirculationSAD" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntryDocumentNo" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="SADDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="InvoiceNo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CompensationGood" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Procedure" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Quantity" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="Balance" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
