VS/trunk/PR42-SmartFactory/IPRExternalData/Customs/ECS/IE547_v1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.mf.gov.pl/xsd/ECS/IE547_v1-0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.mf.gov.pl/xsd/ECS/IE547_v1-0.xsd" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation source="doc">Manifest eksportowy.</xs:documentation>
		<xs:documentation source="doc">Komunikat zawiera dane manifestu eksportowego. Jest przekazywany do Systemu przez przewoźnika towaru przez granicę.</xs:documentation>
		<xs:documentation source="doc">Manifest może dotyczyć towarów z wielu różnych zawiadomień o przybyciu towaru na granicę.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
	<xs:element name="IE547">
		<xs:annotation>
			<xs:documentation source="doc">IE547.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Manifest">
					<xs:annotation>
						<xs:documentation source="doc">Manifest eksportowy.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Przewoznik">
								<xs:annotation>
									<xs:documentation source="doc">Podmiot przewożący towar przez granicę.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="TIN" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Numer identyfikacyjny podmiotu (Trader Identification Number).</xs:documentation>
											<xs:documentation source="rule">G3</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="17"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Nazwa" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Nazwa firmy lub nazwisko i imię.</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="UlicaNumer" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Ulica, numer domu.</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="KodPocztowy" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Kod pocztowy.</xs:documentation>
											<xs:documentation source="rule">G6, G7</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="9"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Miejscowosc" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Miejscowość.</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Kraj" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Kod kraju.</xs:documentation>
											<xs:documentation source="list">007</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Towar" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation source="doc">Pozycja towarowa.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Opakowanie">
											<xs:annotation>
												<xs:documentation source="doc">Opakowanie.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Rodzaj" use="required">
													<xs:annotation>
														<xs:documentation source="doc">Rodzaj opakowania.</xs:documentation>
														<xs:documentation source="list">033</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Znaki" use="optional">
													<xs:annotation>
														<xs:documentation source="doc">Znaki opakowań.</xs:documentation>
														<xs:documentation source="rule">RW3, G6</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="42"/>
															<xs:minLength value="1"/>
															<xs:whiteSpace value="collapse"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="LiczbaOpakowan" use="optional">
													<xs:annotation>
														<xs:documentation source="doc">Liczba opakowań.</xs:documentation>
														<xs:documentation source="rule">RW3, G8, R7</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="5"/>
															<xs:fractionDigits value="0"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="LiczbaSztuk" use="optional">
													<xs:annotation>
														<xs:documentation source="doc">Ilość sztuk towarów nieopakowanych.</xs:documentation>
														<xs:documentation source="rule">RW3, G8</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="5"/>
															<xs:fractionDigits value="0"/>
															<xs:minExclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="DaneCelne" maxOccurs="999">
											<xs:annotation>
												<xs:documentation source="doc">Dane zgłoszenia celnego związanego z pozycją towarową manifestu.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="MRN" use="required">
													<xs:annotation>
														<xs:documentation source="doc">Numer ewidencyjny zgłoszenia.</xs:documentation>
														<xs:documentation source="rule">G6</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="35"/>
															<xs:minLength value="1"/>
															<xs:whiteSpace value="collapse"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="WywozCzesciowy" use="required">
													<xs:annotation>
														<xs:documentation source="doc">Informacja określająca czy towary ze zgłoszenia o podanym MRN są wywożone tym manifestem tylko w części. "0" - nie, "1" - tak.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:boolean">
															<xs:pattern value="0|1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="TowarNr" use="optional">
													<xs:annotation>
														<xs:documentation source="doc">Numer pozycji towarowej ze zgłoszenia o podanym MRN, której towary są wywożone przez ten manifest.</xs:documentation>
														<xs:documentation source="rule">RW2, G8</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:minExclusive value="0"/>
															<xs:totalDigits value="3"/>
															<xs:fractionDigits value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="LiczbaOpakowan" use="optional">
													<xs:annotation>
														<xs:documentation source="doc">Liczba opakowań ze zgłoszenia o podanym MRN i numerze pozycji towarowej, wywożonych przez ten manifest.</xs:documentation>
														<xs:documentation source="rule">RW2, G12</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="5"/>
															<xs:fractionDigits value="0"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="LiczbaSztuk" use="optional">
													<xs:annotation>
														<xs:documentation source="doc">Liczba sztuk towarów nieopakowanych, ze zgłoszenia o podanym MRN i numerze pozycji towarowej, wywożonych przez ten manifest.</xs:documentation>
														<xs:documentation source="rule">RW2, G8</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="5"/>
															<xs:fractionDigits value="0"/>
															<xs:minExclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="MasaBrutto" use="optional">
													<xs:annotation>
														<xs:documentation source="doc">Masa brutto towarów, ze zgłoszenia o podanym MRN i numerze pozycji towarowej, wywożonych przez ten manifest.</xs:documentation>
														<xs:documentation source="rule">RW2, G8</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="15"/>
															<xs:fractionDigits value="3"/>
															<xs:minExclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Nr" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Numer pozycji towarowej manifestu.</xs:documentation>
											<xs:documentation source="rule">R6, RW4</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="5"/>
												<xs:minExclusive value="0"/>
												<xs:fractionDigits value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="OpisTowaru" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Opis towaru.</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="280"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="KodTowarowy" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Kod towaru według Systemu Zharmonizowanego (HS) lub nomenklatury scalonej (CN).</xs:documentation>
											<xs:documentation source="rule">R2</xs:documentation>
											<xs:documentation source="list">028</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="8"/>
												<xs:pattern value="\d{6}"/>
												<xs:pattern value="\d{8}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="MasaBrutto" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Masa brutto pozycji manifestu.</xs:documentation>
											<xs:documentation source="rule">G8</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="15"/>
												<xs:fractionDigits value="3"/>
												<xs:minExclusive value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="DokumentPrzewozowy" use="required">
										<xs:annotation>
											<xs:documentation source="rule">G6</xs:documentation>
											<xs:documentation source="doc">Numer dokumentu przewozowego.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="35"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="MiejsceData">
								<xs:annotation>
									<xs:documentation source="doc">Miejsce i data.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Miejsce" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Miejsce przygotowania manifestu.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Data" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Data przedstawienia manifestu.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="UCWyprowadzenia" use="required">
							<xs:annotation>
								<xs:documentation source="doc">Kod urzędu wyprowadzenia.</xs:documentation>
								<xs:documentation source="list">001</xs:documentation>
								<xs:documentation source="rule">G23</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="8"/>
									<xs:pattern value="PL.{6}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="LiczbaPozycji" use="required">
							<xs:annotation>
								<xs:documentation source="doc">Liczba pozycji.</xs:documentation>
								<xs:documentation source="rule">R3</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="5"/>
									<xs:fractionDigits value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="LiczbaOpakowan" use="required">
							<xs:annotation>
								<xs:documentation source="doc">Całkowita liczba opakowań.</xs:documentation>
								<xs:documentation source="rule">R4</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="22"/>
									<xs:fractionDigits value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="MasaBrutto" use="required">
							<xs:annotation>
								<xs:documentation source="doc">Całkowita masa brutto.</xs:documentation>
								<xs:documentation source="rule">R5, G8</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="15"/>
									<xs:fractionDigits value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element ref="ds:Signature" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="NrWlasny" use="required">
				<xs:annotation>
					<xs:documentation source="doc">Numer własny nadany przez podmiot.</xs:documentation>
					<xs:documentation source="rule">R1, G19, G20</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="22"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="EmailPodmiotu" use="optional">
				<xs:annotation>
					<xs:documentation source="doc">Adres email, na który mają być przesyłane komunikaty zwrotne dotyczące tego komunikatu. W przypadku braku tego atrybutu komunikaty zwrotne nie będą przesyłane do podmiotu za pomocą poczty elektronicznej.</xs:documentation>
					<xs:documentation source="rule">G14</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
						<xs:pattern value="[A-Za-z0-9]+((\.|-|_)[A-Za-z0-9]+)*(@[A-Za-z0-9]+((\.|-|_)[A-Za-z0-9]+)*){1}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PlacowkaPodmiotu" use="optional">
				<xs:annotation>
					<xs:documentation source="doc">Identyfikator placówki podmiotu. Atrybut używany jest do identyfikacji placówki podmiotu przy wysyłaniu i odbieraniu komunikatów poprzez interfejs niewizualny.</xs:documentation>
					<xs:documentation source="rule">G26</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
						<xs:pattern value="[A-Z0-9]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
