VS/trunk/PR42-SmartFactory/Shepherd/Client/ShepherdRoutesEditor/InputData/RoutesCatalog.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="PreliminaryDataRoute"
    targetNamespace="http://cas.eu/schemas/Shepherd/RoutesCatalog.xsd"
    elementFormDefault="qualified"
    xmlns="http://cas.eu/schemas/Shepherd/RoutesCatalog.xsd"
    xmlns:mstns="http://cas.eu/schemas/Shepherd/RoutesCatalog.xsd"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>
  <xsd:element name="RoutesCatalog">
    <xsd:complexType>
      <xsd:sequence minOccurs="1" maxOccurs="1">
        <xsd:element nillable="true" minOccurs="0"  name="CommodityTable">
          <xsd:complexType>
            <xsd:sequence minOccurs="0">
              <xsd:element minOccurs="0" maxOccurs="unbounded" nillable="true" name="CommodityRow" >
                <xsd:complexType>
                  <xsd:sequence minOccurs="0">
                    <xsd:element minOccurs="0" type="xsd:string" name="Title" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element nillable="true" minOccurs="0" name="GlobalPricelist">
          <xsd:complexType>
            <xsd:sequence minOccurs="0">
              <xsd:element minOccurs="0" maxOccurs="unbounded" nillable="true" name="Route" >
                <xsd:complexType>
                  <xsd:sequence minOccurs="0">
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Material_Master__Reference" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Material_Master_Short_Text" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Business_description" />
                    <xsd:element minOccurs="1"  maxOccurs="1" type="xsd:int" name="Freight_Payer__I_C__MainLeg" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Remarks" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Commodity" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="SAP_Dept_Plant" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="SAP_Dest_Plant" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Dept_Country" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Dest_Country" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Dept_City" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Port_of_Dept" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Port_of_Dest" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Dest_City" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Escort_key" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="PO_NUMBER" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Buying_Incoterm" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Selling_Incoterm" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Vendor" />
                    <xsd:element minOccurs="0" maxOccurs="1" type="xsd:int" name="Vendor_number" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Carrier" />
                    <xsd:element minOccurs="0" maxOccurs="1" nillable="true" type="xsd:int" name="Transport_Quantity" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Equipment_Type__UoM" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:integer" name="Total_Cost_per_UoM" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Currency" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:integer" name="Pre_Carriage" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="THC_Dept" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="ISPS_Dept" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Other_cost_Dept" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:integer" name="Ocean_Freight" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="CAF" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:integer" name="BAF" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="THC_Dest" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="ISPS_Dest" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Other_cost_Dest" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="On_Carriage" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Freight_ID_pre_Africa_Leaf" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Freight_ID_pre" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:integer" name="Freight_ID_main_leg" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Freight_ID_onc" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Transit_Time_pre_africa_leaf" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:integer" name="Transit_Time_pre" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:integer" name="Transit_Time_main" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:integer" name="Transit_Time_onc" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:integer" name="Transit_Time_total" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Plant_for_PR_creation" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:integer" name="Company_Code" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Purch_Group" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Purch_Org" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:integer" name="Cost_Center" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:integer" name="GL_Account" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Business_type" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Leaf_Origin_Region" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="LEAF__Africa_Pre_delivery_description" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="LEAF__Africa_Pre_delivery_freight_in_USD" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="LEAF__Africa_Pre_delivery_Containerizing_in_USD" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Booking_Reference" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="LEAF__TL_Carrier_Remarks" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="LEAF__Sailing_Frequency" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="LEAF__Free_Time_Demurrage_at_dept" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="LEAF__Free_Time_Demurrage_at_dept_requested" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="LEAF__Free_Time_Detention_at_dest" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="LEAF__Free_Time_Detention_at_dest_requested" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="LEAF__Transshipment_Port_1" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="LEAF__Transshipment_Port_2" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="LEAF__Transshipment_Port_3" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:integer" name="Logistics_Procedure_ID" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:date" name="Valid_from" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:date" name="Valid_to" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:date" name="added__changed" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="ShipmentType" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element nillable="true" minOccurs="0" name="MarketTable">
          <xsd:complexType>
            <xsd:sequence minOccurs="0">
              <xsd:element minOccurs="0" maxOccurs="unbounded" nillable="true" name="Market" >
                <xsd:complexType>
                  <xsd:sequence minOccurs="0">
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Market" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Area" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="DestinationCountry" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="DestinationCity" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element nillable="true" minOccurs="0" name="PartnersTable">
          <xsd:complexType>
            <xsd:sequence minOccurs="0">
              <xsd:element minOccurs="0" maxOccurs="unbounded" nillable="true" name="PartnersRow" >
                <xsd:complexType>
                  <xsd:sequence minOccurs="0">
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Name" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:integer" name="NumberFromSAP" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="ServiceType" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="ShepherdUser" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="E_Mail" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="BusinessPhone" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="FaxNumber" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Mobile" />
                    <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Warehouse" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
