VS/trunk/PR42-SmartFactory/CW/WebsiteApplication/CWInteroperability/DocumentsFactory/Statement/Statement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cas.eu/schemas/SmartFactory/CW/Interoperability/DocumentsFactory/StatementContent.xsd" elementFormDefault="qualified" targetNamespace="http://cas.eu/schemas/SmartFactory/CW/Interoperability/DocumentsFactory/StatementContent.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StatementContent" type="tns:StatementContent" />
  <xs:complexType name="StatementContent">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DocumentDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="CustomsProcedure" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="StatementOfDuties" type="tns:ArrayOfStatement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfStatement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Statement" type="tns:Statement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Statement">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="No" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReferenceNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SADDocumentNo" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DutyPerSettledAmount" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="VATPerSettledAmount" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="DutyAndVAT" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>