Customs/Customs/ECS/IE613_v1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.mf.gov.pl/xsd/ECS/IE613_v1-0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns="http://www.mf.gov.pl/xsd/ECS/IE613_v1-0.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation source="doc">Sprostowanie wywozowej deklaracji skróconej.</xs:documentation>
		<xs:documentation source="doc">Komunikat zawiera sprostowanie wywozowej deklaracji skróconej. Jest przekazywany do Systemu przez podmiot składający deklarację.
</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
	<xs:element name="IE613">
		<xs:annotation>
			<xs:documentation source="doc">IE613.</xs:documentation>
			<xs:documentation source="rule">-</xs:documentation>
			<xs:documentation source="doc">Główny element.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SprostowanieDeklaracjiWywozowej">
					<xs:annotation>
						<xs:documentation source="doc">Sprostowanie deklaracji wywozowej.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Nadawca" minOccurs="0">
								<xs:annotation>
									<xs:documentation source="doc">Nadawca. Podanie informacji jest obowiązkowe, jeśli nadawca nie jest tożsamy z osobą składającą deklarację.</xs:documentation>
									<xs:documentation source="rule">RW30</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="TIN" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Numer identyfikacyjny podmiotu (Trader Identification Number). </xs:documentation>
											<xs:documentation source="box">2</xs:documentation>
											<xs:documentation source="rule">G6, RW74</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="17"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Nazwa" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Nazwa firmy lub nazwisko i imię.</xs:documentation>
											<xs:documentation source="box">2</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="UlicaNumer" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Ulica, numer domu.</xs:documentation>
											<xs:documentation source="box">2</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="KodPocztowy" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Kod pocztowy.</xs:documentation>
											<xs:documentation source="box">2</xs:documentation>
											<xs:documentation source="rule">G6, G7</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="9"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Miejscowosc" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Miejscowość.</xs:documentation>
											<xs:documentation source="box">2</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Kraj" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Kod kraju.</xs:documentation>
											<xs:documentation source="box">2</xs:documentation>
											<xs:documentation source="list">007</xs:documentation>
											<xs:documentation source="rule">-</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Odbiorca" minOccurs="0">
								<xs:annotation>
									<xs:documentation source="doc">Odbiorca.</xs:documentation>
									<xs:documentation source="rule">RW11</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="TIN" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Numer identyfikacyjny podmiotu (Trader Identification Number). </xs:documentation>
											<xs:documentation source="box">8</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="17"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Nazwa" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Nazwa firmy lub nazwisko i imię.</xs:documentation>
											<xs:documentation source="box">8</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="UlicaNumer" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Ulica, numer domu.</xs:documentation>
											<xs:documentation source="box">8</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="KodPocztowy" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Kod pocztowy.</xs:documentation>
											<xs:documentation source="box">8</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="9"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Miejscowosc" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Miejscowość.</xs:documentation>
											<xs:documentation source="box">8</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Kraj" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Kod kraju.</xs:documentation>
											<xs:documentation source="box">8</xs:documentation>
											<xs:documentation source="list">007</xs:documentation>
											<xs:documentation source="rule">-</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="EORI" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="17"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Skladajacy">
								<xs:annotation>
									<xs:documentation source="doc">Osoba składająca deklarację.</xs:documentation>
									<xs:documentation source="rule">R5</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="TIN" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Numer identyfikacyjny podmiotu (Trader Identification Number).Jeżeli atrybut jest stosowany to Podmiot musi podać numer EORI.</xs:documentation>
											<xs:documentation source="box">14</xs:documentation>
											<xs:documentation source="rule">G6, G25</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="17"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Nazwa" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Nazwa firmy lub nazwisko i imię.</xs:documentation>
											<xs:documentation source="box">14</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="UlicaNumer" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Ulica, numer domu.</xs:documentation>
											<xs:documentation source="box">14</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="KodPocztowy" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Kod pocztowy.</xs:documentation>
											<xs:documentation source="box">14</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="9"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Miejscowosc" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Miejscowość.</xs:documentation>
											<xs:documentation source="box">14</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Kraj" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Kod kraju.</xs:documentation>
											<xs:documentation source="box">14</xs:documentation>
											<xs:documentation source="list">007</xs:documentation>
											<xs:documentation source="rule">-</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="PrzedstawicielPodmiotu" minOccurs="0">
								<xs:annotation>
									<xs:documentation source="doc">Przedstawiciel podmiotu. Jeśli sprostowanie deklaracji wywozowej jest składane przez Przedstawiciela Podmiotu, wtedy grupa danych 'Przedstawiciel Podmiotu' jest wymagana. TIN Przedstawiciela Podmiotu nie może być zmieniony przez Składającego.</xs:documentation>
									<xs:documentation source="rule">R6</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="TIN" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Numer identyfikacyjny podmiotu (Trader Identification Number). Jeżeli atrybut jest stosowany to Podmiot musi podać numer EORI.</xs:documentation>
											<xs:documentation source="rule">RW76</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="17"/>
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Nazwa" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Nazwa firmy lub nazwisko i imię.</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="UlicaNumer" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Ulica, numer domu.</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="KodPocztowy" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Kod pocztowy.</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="9"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Miejscowosc" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Miejscowość.</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Kraj" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Kod kraju.</xs:documentation>
											<xs:documentation source="list">007</xs:documentation>
											<xs:documentation source="rule">-</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Trasa" maxOccurs="99">
								<xs:annotation>
									<xs:documentation source="doc">Dane kraju występującego na trasie przewozu.</xs:documentation>
									<xs:documentation source="rule">RW19</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Kraj" use="required">
										<xs:annotation>
											<xs:documentation source="list">007</xs:documentation>
											<xs:documentation source="doc">Kod kraju. Kraj przeznaczenia muszą zostać wprowadzone w każdym przypadku. Jeśli atrybut 'SpecyficzneOkolicznosci' jest różny od 'A' wtedy co najmniej kraj pierwotnego wyjścia musi być dodatkowo wprowadzony. </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Lokalizacja">
								<xs:annotation>
									<xs:documentation source="doc">Lokalizacja przedstawienia towaru.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="UC" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Kod urzędu celnego.</xs:documentation>
											<xs:documentation source="list">001</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="8"/>
												<xs:pattern value="PL.{6}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Miejsce" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Kod miejsca innego niż urząd celny.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="17"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Opis" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Opis miejsca innego niż urząd celny i nieposiadającego kodu.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Towar" maxOccurs="999">
								<xs:annotation>
									<xs:documentation source="doc">Pozycja towarowa.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Nadawca" minOccurs="0">
											<xs:annotation>
												<xs:documentation source="doc">Nadawca.</xs:documentation>
												<xs:documentation source="rule">RW30</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="TIN" use="optional">
													<xs:annotation>
														<xs:documentation source="doc">Numer identyfikacyjny podmiotu (Trader Identification Number). </xs:documentation>
														<xs:documentation source="box">ex2</xs:documentation>
														<xs:documentation source="rule">G6, RW74</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="17"/>
															<xs:minLength value="1"/>
															<xs:whiteSpace value="collapse"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Nazwa" use="required">
													<xs:annotation>
														<xs:documentation source="doc">Nazwa firmy lub nazwisko i imię.</xs:documentation>
														<xs:documentation source="box">ex2</xs:documentation>
														<xs:documentation source="rule">G6</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="35"/>
															<xs:minLength value="1"/>
															<xs:whiteSpace value="collapse"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="UlicaNumer" use="required">
													<xs:annotation>
														<xs:documentation source="doc">Ulica, numer domu.</xs:documentation>
														<xs:documentation source="box">ex2</xs:documentation>
														<xs:documentation source="rule">G6</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="35"/>
															<xs:minLength value="1"/>
															<xs:whiteSpace value="collapse"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="KodPocztowy" use="required">
													<xs:annotation>
														<xs:documentation source="doc">Kod pocztowy.</xs:documentation>
														<xs:documentation source="box">ex2</xs:documentation>
														<xs:documentation source="rule">G6, G7</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="9"/>
															<xs:minLength value="1"/>
															<xs:whiteSpace value="collapse"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Miejscowosc" use="required">
													<xs:annotation>
														<xs:documentation source="doc">Miejscowość.</xs:documentation>
														<xs:documentation source="box">ex2</xs:documentation>
														<xs:documentation source="rule">G6</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="35"/>
															<xs:minLength value="1"/>
															<xs:whiteSpace value="collapse"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Kraj" use="required">
													<xs:annotation>
														<xs:documentation source="doc">Kod kraju.</xs:documentation>
														<xs:documentation source="box">ex2</xs:documentation>
														<xs:documentation source="list">007</xs:documentation>
														<xs:documentation source="rule">-</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Odbiorca" minOccurs="0">
											<xs:annotation>
												<xs:documentation source="doc">Odbiorca.</xs:documentation>
												<xs:documentation source="rule">RW11</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="TIN" use="optional">
													<xs:annotation>
														<xs:documentation source="doc">Numer identyfikacyjny podmiotu (Trader Identification Number). </xs:documentation>
														<xs:documentation source="box">ex8</xs:documentation>
														<xs:documentation source="rule">G6</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="17"/>
															<xs:minLength value="1"/>
															<xs:whiteSpace value="collapse"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Nazwa" use="required">
													<xs:annotation>
														<xs:documentation source="doc">Nazwa firmy lub nazwisko i imię.</xs:documentation>
														<xs:documentation source="box">ex8</xs:documentation>
														<xs:documentation source="rule">G6</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="35"/>
															<xs:minLength value="1"/>
															<xs:whiteSpace value="collapse"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="UlicaNumer" use="required">
													<xs:annotation>
														<xs:documentation source="doc">Ulica, numer domu.</xs:documentation>
														<xs:documentation source="box">ex8</xs:documentation>
														<xs:documentation source="rule">G6</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="35"/>
															<xs:minLength value="1"/>
															<xs:whiteSpace value="collapse"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="KodPocztowy" use="required">
													<xs:annotation>
														<xs:documentation source="doc">Kod pocztowy.</xs:documentation>
														<xs:documentation source="box">ex8</xs:documentation>
														<xs:documentation source="rule">G6, G7</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="9"/>
															<xs:minLength value="1"/>
															<xs:whiteSpace value="collapse"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Miejscowosc" use="required">
													<xs:annotation>
														<xs:documentation source="doc">Miejscowość.</xs:documentation>
														<xs:documentation source="box">ex8</xs:documentation>
														<xs:documentation source="rule">G6</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="35"/>
															<xs:minLength value="1"/>
															<xs:whiteSpace value="collapse"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Kraj" use="required">
													<xs:annotation>
														<xs:documentation source="doc">Kod kraju.</xs:documentation>
														<xs:documentation source="box">ex8</xs:documentation>
														<xs:documentation source="list">007</xs:documentation>
														<xs:documentation source="rule">-</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="EORI" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="17"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>												
											</xs:complexType>
										</xs:element>
										<xs:element name="Opakowanie" minOccurs="0" maxOccurs="99">
											<xs:annotation>
												<xs:documentation source="doc">Opakowanie.</xs:documentation>
												<xs:documentation source="rule">RW18</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Rodzaj" use="required">
													<xs:annotation>
														<xs:documentation source="doc">Rodzaj opakowania.</xs:documentation>
														<xs:documentation source="box">31</xs:documentation>
														<xs:documentation source="list">033</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Znaki" use="optional">
													<xs:annotation>
														<xs:documentation source="doc">Znaki opakowań.</xs:documentation>
														<xs:documentation source="box">31</xs:documentation>
														<xs:documentation source="rule">G6</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="42"/>
															<xs:minLength value="1"/>
															<xs:whiteSpace value="collapse"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="LiczbaSztuk" use="optional">
													<xs:annotation>
														<xs:documentation source="doc">Liczba sztuk towarów nieopakowanych.</xs:documentation>
														<xs:documentation source="box">31</xs:documentation>
														<xs:documentation source="rule">RW40, G8</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="5"/>
															<xs:fractionDigits value="0"/>
															<xs:minExclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="LiczbaOpakowan" use="optional">
													<xs:annotation>
														<xs:documentation source="doc">Liczba opakowań.</xs:documentation>
														<xs:documentation source="box">31</xs:documentation>
														<xs:documentation source="rule">RW40, G12, R20</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="5"/>
															<xs:fractionDigits value="0"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Kontener" minOccurs="0" maxOccurs="99">
											<xs:annotation>
												<xs:documentation source="doc">Kontener.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Nr" use="required">
													<xs:annotation>
														<xs:documentation source="doc">Numer kontenera.</xs:documentation>
														<xs:documentation source="box">31</xs:documentation>
														<xs:documentation source="rule">G6, G22</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="17"/>
															<xs:minLength value="1"/>
															<xs:whiteSpace value="collapse"/>
															<xs:pattern value="[A-Za-z0-9]{1,17}"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="DokumentWymagany" minOccurs="0" maxOccurs="99">
											<xs:annotation>
												<xs:documentation source="doc">Dokument wymagany.</xs:documentation>
												<xs:documentation source="rule">RW15</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Kod" use="required">
													<xs:annotation>
														<xs:documentation source="doc">Kod dokumentu.</xs:documentation>
														<xs:documentation source="list">034</xs:documentation>
														<xs:documentation source="rule">-</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="4"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Nr" use="required">
													<xs:annotation>
														<xs:documentation source="doc">Numer dokumentu.</xs:documentation>
														<xs:documentation source="rule">G6</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="35"/>
															<xs:minLength value="1"/>
															<xs:whiteSpace value="collapse"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Nr" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Numer pozycji towarowej.</xs:documentation>
											<xs:documentation source="box">32</xs:documentation>
											<xs:documentation source="rule">G22</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="5"/>
												<xs:fractionDigits value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="CRN" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Unikalny, przypisany do danej przesyłki numer nadany towarom (Commercial Reference Number). Zalecane jest użycie kodu o strukturze przewidzianej przez WCO (ISO15459) lub jego odpowiednika.</xs:documentation>
											<xs:documentation source="box">-</xs:documentation>
											<xs:documentation source="rule">G6, RW15, RW38</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="70"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="OpisTowaru" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Opis towaru.</xs:documentation>
											<xs:documentation source="box">31</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="280"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="KodTowarowy" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Kod towaru według nomenklatury scalonej (Combined Nomenclature).</xs:documentation>
											<xs:documentation source="box">33(1)</xs:documentation>
											<xs:documentation source="list">028</xs:documentation>
											<xs:documentation source="rule">RW70, RW10</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="8"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="MasaBrutto" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Masa brutto pozycji towarowej.</xs:documentation>
											<xs:documentation source="box">35</xs:documentation>
											<xs:documentation source="rule">G8, RW9</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="15"/>
												<xs:fractionDigits value="3"/>
												<xs:minExclusive value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="TowarNiebezpieczny" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Kod UN dla towarów niebezpiecznych (UN Dangerous Goods Code).</xs:documentation>
											<xs:documentation source="box">44</xs:documentation>
											<xs:documentation source="list">219</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="OplatyTransportoweMP" use="optional">
										<xs:annotation>
											<xs:documentation source="doc">Kod metody płatności opłat transportowych.</xs:documentation>
											<xs:documentation source="list">300</xs:documentation>
											<xs:documentation source="rule">RW34, RW8</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Zamkniecie" minOccurs="0" maxOccurs="99">
								<xs:annotation>
									<xs:documentation source="doc">Dane zamknięcia celnego.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Nr" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Numer zamknięcia.</xs:documentation>
											<xs:documentation source="box">D</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="MiejsceData">
								<xs:annotation>
									<xs:documentation source="doc">Miejsce i data.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Miejsce" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Miejsce wypełnienia deklaracji.</xs:documentation>
											<xs:documentation source="box">54</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Data" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Data wypełnienia deklaracji.</xs:documentation>
											<xs:documentation source="box">54</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Telefon" use="required">
										<xs:annotation>
											<xs:documentation source="doc">Telefon kontaktowy.</xs:documentation>
											<xs:documentation source="box">54</xs:documentation>
											<xs:documentation source="rule">G6</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="15"/>
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="MRN" use="required">
							<xs:annotation>
								<xs:documentation source="doc">Numer ewidencyjny deklaracji. (Numer ewidencyjny [MRN] składa się z 18 znaków o następującej konstrukcji: rrPL999999P999999k
gdzie:
- rr to dwie ostatnie cyfry roku, w którym nadano numer ewidencyjny
- PL999999 to identyfikator urzędu celnego, w którym nadano numer ewidencyjny
- I to znak "P" dla rozróżnienia od innych numerów ewidencyjnych o analogicznej konstrukcji
- 999999 to kolejny numer ewidencyjny zgłoszenia nadany w urzędzie celnym o podanym identyfikatorze w danym roku
- k to cyfra kontrolna obliczana według algorytmu)
przykład: 08PL351010P0000016.	</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="18"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="UCZlozenia" use="optional">
							<xs:annotation>
								<xs:documentation source="doc">Kod Urzędu Celnego Złożenia.</xs:documentation>
								<xs:documentation source="list">001</xs:documentation>
								<xs:documentation source="rule">-</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="8"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="UCWyprowadzenia" use="required">
							<xs:annotation>
								<xs:documentation source="doc">Kod deklarowanego Urzędu Celnego Wyprowadzenia. Sprostowanie musi być wysłane do Państwa Członkowskiego, w którym urząd celny wyprowadzenia (podany w wywozowej deklaracji skróconej) się znajduje.</xs:documentation>
								<xs:documentation source="list">001</xs:documentation>
								<xs:documentation source="rule">-</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="8"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="LiczbaPozycji" use="required">
							<xs:annotation>
								<xs:documentation source="doc">Liczba pozycji towarowych.</xs:documentation>
								<xs:documentation source="box">5</xs:documentation>
								<xs:documentation source="rule">R2</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="5"/>
									<xs:fractionDigits value="0"/>
									<xs:minExclusive value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="LiczbaOpakowan" use="optional">
							<xs:annotation>
								<xs:documentation source="doc">Całkowita liczba opakowań.</xs:documentation>
								<xs:documentation source="rule">R3, R28</xs:documentation>
								<xs:documentation source="box">6</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="7"/>
									<xs:fractionDigits value="0"/>
									<xs:minInclusive value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="CRN" use="optional">
							<xs:annotation>
								<xs:documentation source="doc">Unikalny, przypisany do danej przesyłki numer nadany towarom (Commercial Reference Number). Zalecane jest użycie kodu o strukturze przewidzianej przez WCO (ISO15459) lub jego odpowiednika.</xs:documentation>
								<xs:documentation source="box">7</xs:documentation>
								<xs:documentation source="rule">G6, RW15, RW38</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="70"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="MasaBrutto" use="optional">
							<xs:annotation>
								<xs:documentation source="doc">Całkowita masa brutto.</xs:documentation>
								<xs:documentation source="box">35</xs:documentation>
								<xs:documentation source="rule">R4, G8, RW25</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="15"/>
									<xs:fractionDigits value="3"/>
									<xs:minExclusive value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="SpecyficzneOkolicznosci" use="optional">
							<xs:annotation>
								<xs:documentation source="doc">Kod specyficznych okoliczności tzn. wyłączeń z podstawowego zakresu danych.</xs:documentation>
								<xs:documentation source="rule">RW28, RW29</xs:documentation>
								<xs:documentation source="list">215</xs:documentation>
								<xs:documentation source="box">-</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="OplatyTransportoweMP" use="optional">
							<xs:annotation>
								<xs:documentation source="doc">Kod metody płatności opłat transportowych.</xs:documentation>
								<xs:documentation source="rule">-</xs:documentation>
								<xs:documentation source="list">300</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element ref="ds:Signature" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="NrWlasny" use="required">
				<xs:annotation>
					<xs:documentation source="doc">Numer własny tego komunikatu.</xs:documentation>
					<xs:documentation source="rule">R1, G19, G20</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="22"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="EmailPodmiotu" use="optional">
				<xs:annotation>
					<xs:documentation source="doc">Adres email, na który mają być przesyłane komunikaty zwrotne dotyczące tego komunikatu. W przypadku braku tego atrybutu komunikaty zwrotne nie będą przesyłane do podmiotu za pomocą poczty elektronicznej.</xs:documentation>
					<xs:documentation source="rule">G14</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
						<xs:pattern value="[A-Za-z0-9]+((\.|-|_)[A-Za-z0-9]+)*(@[A-Za-z0-9]+((\.|-|_)[A-Za-z0-9]+)*){1}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PlacowkaPodmiotu" use="optional">
				<xs:annotation>
					<xs:documentation source="doc">Identyfikator placówki podmiotu. Atrybut używany jest do identyfikacji placówki podmiotu przy wysyłaniu i odbieraniu komunikatów poprzez interfejs niewizualny.</xs:documentation>
					<xs:documentation source="rule">G26</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
						<xs:pattern value="[A-Z0-9]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
