IPRExternalData/DocumentsFactory/DisposalsDescription.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cas.eu/schemas/SmartFactory/xml/DocumentsFactory" elementFormDefault="qualified" targetNamespace="http://cas.eu/schemas/SmartFactory/xml/DocumentsFactory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MaterialsOnOneAccount">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Total" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="DustRecord" type="tns:ArrayOfMaterialRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfMaterialRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaterialRecord" nillable="true" type="tns:MaterialRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MaterialRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CustomDocumentNo" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaterialSKU" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaterialBatch" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FinishedGoodBatch" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Amount" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>