VS/trunk/PR42-SmartFactory/XML/ERP/SKUCutfillerSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="SKUCutfillerSchema"
    targetNamespace="http://cas.eu/schemas/jti/ipr/SKUCutfillerSchema.xsd"
    elementFormDefault="qualified"
    xmlns="http://cas.eu/schemas/jti/ipr/SKUCutfillerSchema.xsd"
    xmlns:mstns="http://cas.eu/schemas/jti/ipr/SKUCutfillerSchema.xsd"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>
  <xsd:element nillable="true" name="Cutfiller" >
    <xsd:complexType>
      <xsd:sequence minOccurs="0">
        <xsd:element minOccurs="0" maxOccurs="unbounded" nillable="true" name="Material" >
          <xsd:complexType>
            <xsd:sequence minOccurs="0">
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Plant" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Material" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="MaterialDescription" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Revision_Level" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Valid_from_Date_DDMMYYYY" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="BaseUnitOfMeasure" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Base_Unit_Of_Measure_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Old_Material_Number" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Extl__matl_group" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Division" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Division_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Product_allocation" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Product_allocation_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Product_Hierarchy" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="X_plant_matl_status" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="X_plant_matl_status_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="GenItemCatGroup" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="GenItemCatGroup_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Authorization_group" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Authorization_group_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Gross_Weight" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Net_Weight" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Weight_unit" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Weight_unit_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Volume" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Volume_Unit" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Volume_Unit_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Batch_Management_flag" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Min__rem__shelf_life" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Total_Shelf_life" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Period_ind__for_SLED" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Rounding_rule_SLED" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Storage_percentage" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Inspection_Interval" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Plant_sp_material_Sts" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Plant_sp_material_Sts__Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Languages_maintained" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Supplier_No" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Supplier_Name" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Supplier_Name_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Standard_Price_Company_Code_Currency" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Currency_key_1" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Price_unit_1" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Standard_Price_Legal_Valuation" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Currency_key_2" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Price_unit_2" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Standard_Price_Group_Valuation" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Currency_key_3" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Price_unit_3" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Blend_Generation" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Blend_Generation_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="BlendPurpose" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Blend_Purpose_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Blend_Revision" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Blend_Revision_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Project_Cord" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Project_Cord_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Casing_Appl__Ratio_1__Bur_Cas" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Casing_Appl__Ratio_2__Bur_Top" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Casing_Appl__Ratio_3__Partial" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Casing_Appl__Ratio_4__Total" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Casing_Appl__Ratio_5__Cutting" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Fumigation" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Fumigation_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Special_Remarks" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="TDR_Application_Ratio" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Commodity_Code" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Legacy_Number" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Legacy_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Flavor_Type" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Flavor_Type_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Shelf_Life__Days" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Net_Weight2" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Minimum_bulker_ageing_time" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Blend_Code" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Blend_Code_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Variant" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Variant_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Tobacco_Nicotine" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="CES_Dry_Weight_Ratio" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="ETB_Dry_Weight_Ratio" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="SR_Dry_Weight_Ratio" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Addback_Group" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Addback_Group_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Moisture" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Cigarette_Pack_Moisture" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Cig_Pack_Moist_Warning_Limits" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Cig_Pack_Moist_Reject_Limits" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="L_B_Tracking_Code" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="C_F_Tracking_Code" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Blend_Specifics_1" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Blend_Specifics_2" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Blend_Specifics_3" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Filling_Capacity__ml_2_3_psi" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Sieve_Results__CFT" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Total_Menthol" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Process_Parameter_Set" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Process_Parameter_Set_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Dryer_Process" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Dryer_Process_Description" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Cutting_Moisture" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Cutting_Moist__Warning_Limits" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Cutting_Moist__Reject_Limits" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Cut_Width" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Exit_Tob_Moisture" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Exit_Tob_Moist_Warning_Limits" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Exit_Tob_Moist_Reject_Limits" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="TDR_Exit_Moisture" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="TDR_Exit_Moisture_Warning_Lims" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="TDR_Exit_Moisture_Reject_Lims" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Dryer_Input_Moisture" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Dryer_Input_Moist__Warn_Limits" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Dryer_Input_Moist__Rej__Limits" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Dryer_Exit_Moisture" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Dryer_Exit_Moist__Warn__Limits" />
              <xsd:element minOccurs="0" nillable="true" type="xsd:string" name="Dryer_Exit_Moisture_Rej_Limits" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>