IPR/WebsiteApplication/IPRInteroperability/Customs/CELINA/PWDw2r0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Andrzej Heller (Systemy Komputerowe Glowka SA) -->
<xs:schema targetNamespace="http://www.krakow.uc.gov.pl/Celina/CLN-XML/xsd/PWDw2r0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns="http://www.krakow.uc.gov.pl/Celina/CLN-XML/xsd/PWDw2r0.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd" />
  <xs:element name="PWD">
    <xs:annotation>
      <xs:documentation source="rule">-</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Powiadomienie">
          <xs:annotation>
            <xs:documentation source="rule">-</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rodzaj">
                <xs:annotation>
                  <xs:documentation source="rule">-</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="Typ" use="optional">
                    <xs:annotation>
                      <xs:documentation source="list">112</xs:documentation>
                      <xs:documentation source="rule">-</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="1" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Zbiorcze" use="optional">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">-</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:boolean">
                        <xs:pattern value="0|1" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="UC">
                <xs:annotation>
                  <xs:documentation source="rule">-</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Lokalizacja">
                      <xs:annotation>
                        <xs:documentation source="rule">-</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="Miejsce" use="optional">
                          <xs:annotation>
                            <xs:documentation source="rule">RW15, RW16, R8</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="17" />
                              <xs:whiteSpace value="collapse" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Opis" use="optional">
                          <xs:annotation>
                            <xs:documentation source="list">-</xs:documentation>
                            <xs:documentation source="rule">RW16, G6</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="35" />
                              <xs:minLength value="1" />
                              <xs:whiteSpace value="collapse" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="UCPowiadomienia" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">1</xs:documentation>
                      <xs:documentation source="rule">-</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="8" />
                        <xs:pattern value="PL\d{6}" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Upowazniony">
                <xs:annotation>
                  <xs:documentation source="rule">-</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="Nazwa" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G6</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                        <xs:minLength value="1" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="UlicaNumer" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G6</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                        <xs:minLength value="1" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="KodPocztowy" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G6, G7</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="9" />
                        <xs:minLength value="1" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Miejscowosc" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G6</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                        <xs:minLength value="1" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Kraj" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">7</xs:documentation>
                      <xs:documentation source="rule">-</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="2" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="TIN" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G3</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="17" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Regon" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G13</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="14" />
                        <xs:pattern value="[0-9]{14}" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="EORI" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="17" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Odbiorca" minOccurs="0">
                <xs:annotation>
                  <xs:documentation source="rule">-</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="Nazwa" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G6</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                        <xs:minLength value="1" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="UlicaNumer" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G6</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                        <xs:minLength value="1" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="KodPocztowy" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G6, G7</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="9" />
                        <xs:minLength value="1" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Miejscowosc" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G6</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                        <xs:minLength value="1" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Kraj" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">7</xs:documentation>
                      <xs:documentation source="rule">-</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="2" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="TIN" use="optional">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G3</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="17" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Regon" use="optional">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G13</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="14" />
                        <xs:pattern value="[0-9]{14}" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="EORI" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="17" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Tranzyt" minOccurs="0">
                <xs:annotation>
                  <xs:documentation source="rule">-</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="Rodzaj" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">25</xs:documentation>
                      <xs:documentation source="rule">R7</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="4" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="TerminDostarczenia" type="xs:date" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">-</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Transport" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                  <xs:documentation source="rule">-</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="PozId" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G4</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="2" />
                        <xs:fractionDigits value="0" />
                        <xs:minExclusive value="0" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Rodzaj" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">5</xs:documentation>
                      <xs:documentation source="rule">-</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="1" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Znaki" use="optional">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">GW3, G5, G6</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="27" />
                        <xs:minLength value="1" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Kraj" use="optional">
                    <xs:annotation>
                      <xs:documentation source="list">7</xs:documentation>
                      <xs:documentation source="rule">GW8</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="2" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Towar" maxOccurs="999">
                <xs:annotation>
                  <xs:documentation source="rule">-</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Kontener" minOccurs="0" maxOccurs="99">
                      <xs:annotation>
                        <xs:documentation source="rule">-</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="PozId" use="required">
                          <xs:annotation>
                            <xs:documentation source="list">-</xs:documentation>
                            <xs:documentation source="rule">G4</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="2" />
                              <xs:fractionDigits value="0" />
                              <xs:minExclusive value="0" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Nr" use="required">
                          <xs:annotation>
                            <xs:documentation source="list">-</xs:documentation>
                            <xs:documentation source="rule">G10</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="17" />
                              <xs:pattern value="[A-Z0-9]{1,}" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="PozId" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G4</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="3" />
                        <xs:fractionDigits value="0" />
                        <xs:minExclusive value="0" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="KrajWysylki" use="optional">
                    <xs:annotation>
                      <xs:documentation source="list">7</xs:documentation>
                      <xs:documentation source="rule">-</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="2" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="OpisTowaru" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G6</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="260" />
                        <xs:minLength value="1" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="KodTowarowy" use="optional">
                    <xs:annotation>
                      <xs:documentation source="rule">-</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="8" />
                        <xs:pattern value="\d{8}" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="KrajPochodzenia" use="optional">
                    <xs:annotation>
                      <xs:documentation source="list">7</xs:documentation>
                      <xs:documentation source="rule">-</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="2" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="MasaNetto" use="optional">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G8</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="11" />
                        <xs:fractionDigits value="3" />
                        <xs:minExclusive value="0" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="IloscUzupelniajacaJm" use="optional">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G12</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="11" />
                        <xs:fractionDigits value="3" />
                        <xs:minInclusive value="0" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="WartoscStatystyczna" use="optional">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G12</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="15" />
                        <xs:fractionDigits value="0" />
                        <xs:minInclusive value="0" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="NrRejestru" use="optional">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">RW17, G6</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="35" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="DataRejestru" type="xs:date" use="optional">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">RW17</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="DokumentPoprzedni" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                  <xs:documentation source="rule">-</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="PozId" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G4</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="2" />
                        <xs:fractionDigits value="0" />
                        <xs:minExclusive value="0" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Kod" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">81</xs:documentation>
                      <xs:documentation source="rule">-</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Nr" use="optional">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">R12, G6</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                        <xs:minLength value="1" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="NrCelina" use="optional">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G15</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="25" />
                        <xs:pattern value="[A-Z]{3}/\d{6}/\d{2}/\d{6}/\d{4}" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="DokumentWymagany" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                  <xs:documentation source="rule">-</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="PozId" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G4</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="2" />
                        <xs:fractionDigits value="0" />
                        <xs:minExclusive value="0" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Kod" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">34</xs:documentation>
                      <xs:documentation source="rule">-</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="4" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Nr" use="optional">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G6</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                        <xs:minLength value="1" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Uwagi" use="optional">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G6</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="35" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="ZamknieciaCelne" minOccurs="0">
                <xs:annotation>
                  <xs:documentation source="rule">-</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Zamkniecie" maxOccurs="99">
                      <xs:annotation>
                        <xs:documentation source="rule">-</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="PozId" use="required">
                          <xs:annotation>
                            <xs:documentation source="list">-</xs:documentation>
                            <xs:documentation source="rule">G4</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:minExclusive value="0" />
                              <xs:totalDigits value="2" />
                              <xs:fractionDigits value="0" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Nr" use="required">
                          <xs:annotation>
                            <xs:documentation source="list">-</xs:documentation>
                            <xs:documentation source="rule">G6</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="20" />
                              <xs:minLength value="1" />
                              <xs:whiteSpace value="collapse" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Ilosc" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G8</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:minExclusive value="0" />
                        <xs:totalDigits value="4" />
                        <xs:fractionDigits value="0" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Zdejmujacy" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G6</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                        <xs:minLength value="1" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="MiejsceData">
                <xs:annotation>
                  <xs:documentation source="rule">-</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="Miejsce" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G6</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                        <xs:minLength value="1" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Data" type="xs:date" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">-</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="NazwiskoImie" use="required">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G6</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                        <xs:minLength value="1" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Telefon" use="optional">
                    <xs:annotation>
                      <xs:documentation source="list">-</xs:documentation>
                      <xs:documentation source="rule">G6</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="15" />
                        <xs:minLength value="1" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="NrWlasny" use="required">
              <xs:annotation>
                <xs:documentation source="list">-</xs:documentation>
                <xs:documentation source="rule">R1, R11</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="14" />
                  <xs:pattern value="\d{2}PWD[A-Z0-9]{1,9}" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Procedura" use="required">
              <xs:annotation>
                <xs:documentation source="list">3</xs:documentation>
                <xs:documentation source="rule">-</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:length value="2" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="LiczbaOpakowan" use="required">
              <xs:annotation>
                <xs:documentation source="list">-</xs:documentation>
                <xs:documentation source="rule">G8</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="7" />
                  <xs:fractionDigits value="0" />
                  <xs:minExclusive value="0" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="MasaBrutto" use="required">
              <xs:annotation>
                <xs:documentation source="list">-</xs:documentation>
                <xs:documentation source="rule">G8</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="11" />
                  <xs:fractionDigits value="3" />
                  <xs:minExclusive value="0" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="WartoscStatystyczna" use="required">
              <xs:annotation>
                <xs:documentation source="list">-</xs:documentation>
                <xs:documentation source="rule">G12</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="15" />
                  <xs:fractionDigits value="0" />
                  <xs:minInclusive value="0" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Sprostowanie" minOccurs="0">
          <xs:annotation>
            <xs:documentation source="rule">-</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="NrCelina" use="required">
              <xs:annotation>
                <xs:documentation source="list">-</xs:documentation>
                <xs:documentation source="rule">G18</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="40" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Nr" use="required">
              <xs:annotation>
                <xs:documentation source="list">-</xs:documentation>
                <xs:documentation source="rule">-</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="2" />
                  <xs:fractionDigits value="0" />
                  <xs:minExclusive value="0" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Data" type="xs:date" use="required">
              <xs:annotation>
                <xs:documentation source="list">-</xs:documentation>
                <xs:documentation source="rule">R10</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature" minOccurs="0" />
      </xs:sequence>
      <xs:attribute name="EmailPodmiotu" use="optional">
        <xs:annotation>
          <xs:documentation source="list">-</xs:documentation>
          <xs:documentation source="rule">G14</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
            <xs:pattern value="[A-Za-z0-9]+((\.|-|_)[A-Za-z0-9]+)*(@[A-Za-z0-9]+((\.|-|_)[A-Za-z0-9]+)*){1}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>