VS/trunk/PR42-SmartFactory/IPRExternalData/DocumentsFactory/AccountClearance/RequestContent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cas.eu/schemas/SmartFactory/xml/DocumentsFactory/AccountClearance.xsd" elementFormDefault="qualified" targetNamespace="http://cas.eu/schemas/SmartFactory/xml/DocumentsFactory/AccountClearance.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RequestContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="DocumentDate" type="xs:date" />
        <xs:element minOccurs="1" maxOccurs="1" name="DocumentNo" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="DocumentName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="EntryDocumentNo" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CustomsDebtDate" type="xs:date" />
        <xs:element minOccurs="0" maxOccurs="1" name="SKU" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Batch" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Grade" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="NetMass" type="xs:double" />
        <xs:element minOccurs="0" maxOccurs="1" name="PCN" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ConsentDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="ValidFromDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="ValidToDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="ProductivityRateMin" type="xs:double" />
        <xs:element minOccurs="1" maxOccurs="1" name="ProductivityRateMax" type="xs:double" />
        <xs:element minOccurs="1" maxOccurs="1" name="ConsentPeriod" type="xs:double" />
        <xs:element minOccurs="0" maxOccurs="1" name="ConsentNo" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Duty" type="xs:double" />
        <xs:element minOccurs="1" maxOccurs="1" name="DutyPerUnit" type="xs:double" />
        <xs:element minOccurs="1" maxOccurs="1" name="VAT" type="xs:double" />
        <xs:element minOccurs="1" maxOccurs="1" name="VATPerUnit" type="xs:double" />
        <xs:element minOccurs="1" maxOccurs="1" name="GrossMass" type="xs:double" />
        <xs:element minOccurs="1" maxOccurs="1" name="Cartons" type="xs:double" />
        <xs:element minOccurs="0" maxOccurs="1" name="TobaccoName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="DutyName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="VATName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="InvoiceNo" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="VATDutyTotal" type="xs:decimal" />
        <xs:element minOccurs="0" maxOccurs="1" name="DisposalsColection" type="tns:ArrayOfDIsposals" />
        <xs:element minOccurs="0" maxOccurs="1" name="PCNRecord" type="tns:ArrayOfProductCodeNumberDesscription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfDIsposals">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DisposalsArray">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="No" type="xs:double" />
            <xs:element minOccurs="0" maxOccurs="1" name="SADDocumentNo" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="SADDate" type="xs:dateTime" />
            <xs:element minOccurs="0" maxOccurs="1" name="InvoiceNo" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="SettledQuantity" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="DutyPerSettledAmount" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="VATPerSettledAmount" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="DutyAndVAT" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="RemainingQuantity" type="xs:double" />
            <xs:element minOccurs="0" maxOccurs="1" name="CustomsProcedure" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ProductCodeNumber" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfProductCodeNumberDesscription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductCodeNumberDesscription" nillable="true" type="tns:ProductCodeNumberDesscription" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductCodeNumberDesscription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CodeNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>